	* {
	border: none;
	/*border-radius: 14px;*/
    border-radius: 15px 15px 15px 15px;
    /*font-family: "0xProto Nerd Font";*/
    /*font-family: "JetBrainsMono Nerd Font";*/
    font-family: "Fira Code Nerd Font";
    font-weight: bold;
	font-size: 14px;
    min-height: 11px;
    padding-top: 2px;
    padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
    margin-top: 2px;
	margin-bottom: 0px;
   /*color: #B5E8E0;
	  background: #7f849c;*/
}

window#waybar {
    background: transparent;
    transition-property: background-color;
    transition-duration: 0.3s;
    margin-left: 0px;
    margin-right: 0px;
}

*window#waybar.hidden {
	opacity: 0.2;
}

window#waybar.empty #window {
    padding: 0px;
    margin: 0px;
    border: 0px;
    color: transparent;
    background-color: transparent;
}

#window {
	color: #161320;
	background: #A6E3A1;
    transition: none;
}

#custom-launcher {
	margin-left: 0px;
	background: #161320;
	color: #A6E3A1;
	transition: none;
    padding: 0px 25px 0px 25px;
}

#layout{
	color: #1A1826;
	/*background: transparent;*/
	background: #A6E3A1;
    transition: none;
}     

/*#layout.focused {
	background: #A6E3A1;
}*/

#mode{
	color: #161320;
	background: #F38BA8;
    transition: none;
}

#mode.normal{
	color:#161320;
	background: #89B4FA;
}

#tags {
	padding: 0px 3px 2px 3px;
	background: #161320;
}

#tags button {
	color: #7F849C;
	background: transparent;
}

#tags button.occupied {
	color: #FFFFFF;
	background: transparent;
}

#tags button.focused {
	color: #70F8F4;
	padding: 0px 25px 0px 25px;
	border-left: 2px solid #70F8F4;
	border-right: 2px solid #70F8F4;
	border-top: 2px solid #70F8F4;
	border-bottom: 2px solid #70F8F4;
}

#tags button.urgent {
	color: #000000;
	background: #F38BA8;
}

#tags button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
	background: #F5C2E7;
	color: #161320;
    border-color: #F38BA8;
}

#tags button.focused:hover {
    background: #F5C2E7;
 	color: #161320;
	border-color: #161320;
}

#network {
	color: #161320;
	background: #F5C2E7;
    transition: none;
}

#pulseaudio {
	color: #1A1826;
	background: #F9E2AF;
    transition: none;
}

#battery {
	color: #161320;
	background: #B5E8E0;
    transition: none;
}

#battery.charging, #battery.plugged {
	color: #161320;
    background-color: #B5E8E0;
}

#battery.critical:not(.charging) {
    background-color: #B5E8E0;
    color: #161320;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #BF616A;
        color: #B5E8E0;
    }
}

#backlight {
	color: #161320;
	background: #F8BD96;
    transition: none;
}

#clock {
	color: #161320;
	background: #A6E3A1;
    transition: none;
}

#idle_inhibitor {
	margin-left: 0px;
	color: #89B4FA;
	background: #161320;
    transition: none;
    padding: 0px 25px 0px 25px;
}

#cpu {
	color: #161320;
	background: #89B4FA;
    transition: none;
    padding: 0px 15px 0px 15px;
}

#memory {
	color: #161320;
	background: #F5C2E7;
    transition: none;
    padding: 0px 15px 0px 15px;
}

#disk {
	color: #161320;
	background: #89B4FA;
    transition: none;
}

#tray {
  	padding-left: 0px;
	padding-right: 0px;
    color: transparent;
	background: #161320;
    transition: none;
}
